.clients {
    background-color: $white-color;
}
  
.clients-container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
  
.clients__title {
    margin-top: 0px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $black-text;

    @media screen and (min-width: 1200px) {      
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 42px;
    }
}
  
.client-cards {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 1200px) {
        justify-content: space-between;
        flex-wrap: row;
    }
}
  
.client-cards__item {
    margin-right: 30px;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        margin-right: 0px;
        margin-bottom: 0px;
    }


    &:nth-child(2n) {
        @media screen and (max-width: 768px) {
            margin-right: 0px;
        }
    }

    &:nth-last-child(-n + 2) {
        @media screen and (max-width: 768px) {
            margin-bottom: 0px;
        }
    }

    &:nth-child(3n) {
        @media screen and (min-width: 768px) and (max-width: 1200px) {
            margin-right: 0px;
        }
    }

    &:nth-last-child(-n + 3) {
        @media screen and (min-width: 768px) and (max-width: 1200px) {
            margin-bottom: 0px;
        }
    }
}

.client-cards__link {
    width: 210px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray-color;
    border: 1px solid $gray-color;
    border-radius: 4px;
    transition: 250ms $timing;

    @media screen and (min-width: 768px) {
        width: 226px;
    }

    @media screen and (min-width: 1200px) {
        width: 170px;
    }   
}

.client-cards__link:hover,
.client-cards__link:focus {
    color: $blue-color;
    box-shadow: 0 0 0 2px $blue-color;
}
  
.client-cards__icon {
    fill: currentColor;
}